<!DOCTYPE HTML>

<html>
	<head>
		<title>Rasul Kadraliev personal website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css">
		<link rel="shortcut icon" href="favicon_io/favicon.ico">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="images/avatar4.png" alt="" /></a>
					<h1><strong>Hey, my name is Rasul!</strong><br /></h1>
				</div>
			</header>

<!--		 Main-->
			<div id="main">

<!--				 One-->
					<section id="one">
						<header class="major">
							<h2>Welcome to my portfolio!</h2>
						</header>
						<p>
							About me: I love coding, learning new things, helping people succeed.
							I am curious, empathic customer obsessed (hospitality background ;))
							In my previous career with Hyatt Hotels I managed diverse hotel teams
							of up 70 people as finance and ops director including during opening
							of new hotels in various international locations. My most recent work
							experience includes fintech startup Richie AI where I was head of ops.
						</p>
					</section>

<!--				 Two-->
					<section id="two">
						<h2>My projects:</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="https://job-search.kadraliev.com" class="image fit thumb"><img src="images/thumbs/JS.png" alt="" /></a>
								<h3>Job search board</h3>
								<p>
									This board allows a user to register and start saving vacancy information
									like url, vacant position, job description, requirements, etc. in a database
									(PostgreSQL hosted on AWS RDS). A user can add application information to
									every vacancy in order to track resumes versions they submitted as well as cover
									letters. Stack: Python, Django, HTML, CSS; AWS: EC2, S3, RDS; PostgreSQL.
								</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="https://github.com/rasulkadraliev/portfo" class="image fit thumb"><img src="images/thumbs/portfo.png" alt="" /></a>
								<h3>Portfolio website</h3>
								<p>
									This very website's code. Stack: Python, Flask, HTML, CSS, JavaScript, Google
									Sheets API, Google Cloud. Clicking picture will lead to website's code repo.
								</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="https://github.com/rasulkadraliev/Blog" class="image fit thumb"><img src="images/thumbs/blog.png" alt="" /></a>
								<h3>Blog</h3>
								<p>This is a project done with PHP/Laravel. Link will lead to website's code repo.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="https://github.com/rasulkadraliev/robot-txt-editor" class="image fit thumb"><img src="images/thumbs/robot_txt.png" alt="" /></a>
								<h3>Robot.txt Editor</h3>
								<p>
									I've done this editor script when doing 6 months internship with software development
									studio "Fhtagn" (https://fhtagn.studio/en). The script allows you to edit robot.txt
									file on your website.
								</p>
							</article>
						</div>
					</section>

<!--				 Three-->
					<section id="three">
						<h2>Get In Touch</h2>
						<div class="row">
							<div class="col-8 col-12-small">
								<form action="submit_form" method="post">
									<div class="row gtr-uniform gtr-50">
										<div class="col-6 col-12-xsmall"><input type="text" name="name" required id="name" placeholder="Name*" /></div>
										<div class="col-6 col-12-xsmall"><input type="email" name="email" required id="email" placeholder="Email*" /></div>
										<div class="col-12"><textarea name="message" required id="message" placeholder="Message*" rows="4"></textarea></div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</form>
							</div>
							<div class="col-4 col-12-small">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon solid fa-home"><span class="label">Address</span></h3>
										Vancouver, BC, V6E 1V5<br />
										Canada
									</li>
									<li>
										<h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
										778-512-7547
									</li>
									<li>
										<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
										<a href="#">rasul@kadraliev.com</a>
									</li>
								</ul>
							</div>
						</div>
					</section>
			</div>

		<!-- The Modal -->
		{% if showmodal %}
				<script>
					function showModal() {
						window.alert("Thank you! You're awesome!!")
					}
					setTimeout(showModal, 2000);
				</script>
		{% endif %}

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.github.com/rasulkadraliev" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.linkedin.com/in/rasul-kadraliev/" target="_blank" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
						<li><a href="mailto:rasul@kadraliev.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; {{copyRightDate}} Rasul Kadraliev</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>