<!DOCTYPE HTML>

<html>
	<head>
		<title>Rasul Kadraliev - Backend software developer in Canada</title>
		<meta charset="utf-8" />
		<meta name="description" content="Backend Software Developer in Canada with extensive background in hospitality business and finance. Click here to see my portfolio!" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css">
		<link rel="shortcut icon" href="favicon_io/favicon.ico">
		<link rel="canonical" href="https://www.kadraliev.com/" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="images/avatar3.png" alt="Software Developer in Canada with business and finance background" /></a>
					<h1><strong>Hey, my name is Rasul!</strong><br />
					I am an enthusiastic software developer<br />
					looking to become a part of a great team!</h1>
				</div>
			</header>

<!--		 Main-->
			<div id="main">

<!--				 One-->
					<section id="one">
						<header class="major">
							<h2>Hey! Glad to see you here :)<br />
							I'm still working on the website's content and here's a short story from my life:</h2>
						</header>
						<p>
							When I graduated from university and applied for my first accounting job a Director
							of Finance then asked me: "What do you know about accounting?". And I replied: "Nothing.
							But I will learn everything very quickly. Just give me a chance!". I became a senior
							accountant a year later and replaced my boss 5 years after that short interview. I want to
							repeat that story now, though unlike in the old story, now I know something about coding:
							at least I built this website using Python, Flask, Google Sheets API and a little bit of
							HTML and CSS :DD<br />
							<br />
							Give me a chance and you won't regret!
						</p>
					</section>

<!--				 Two-->
					<section id="two">
						<h2>Here could be your projects:</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/teamwork.jpeg" class="image fit thumb"><img src="images/thumbs/teamwork.jpeg" alt="Software Developer in Canada with business and finance background" /></a>
								<h3>Genius project 1</h3>
								<p>We could do plenty together!</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/flash.jpeg" class="image fit thumb"><img src="images/thumbs/flash.jpeg" alt="Software Developer in Canada with business and finance background" /></a>
								<h3>Genius project 2</h3>
								<p>I'm a quick learner and pick-up in a very fast pace</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/lama.jpeg" class="image fit thumb"><img src="images/thumbs/lama.jpeg" alt="Software Developer in Canada with business and finance background" /></a>
								<h3>Genius project 3</h3>
								<p>I'm a practical person and can't wait to jump on a real life project!</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/chance.jpeg" class="image fit thumb"><img src="images/thumbs/chance.jpeg" alt="Software Developer in Canada with business and finance background" /></a>
								<h3>Genius project 4</h3>
								<p>Well, that's it for now :) I am sure I will bring lots of value to your company. Just give me that chance!</p>
							</article>
						</div>
					</section>

<!--				 Three-->
					<section id="three">
						<h2>Get In Touch</h2>
						<p>If you like what you see, then let's get in touch!</p>
						<div class="row">
							<div class="col-8 col-12-small">
								<form action="submit_form" method="post">
									<div class="row gtr-uniform gtr-50">
										<div class="col-6 col-12-xsmall"><input type="text" name="name" required id="name" placeholder="Name*" /></div>
										<div class="col-6 col-12-xsmall"><input type="email" name="email" required id="email" placeholder="Email*" /></div>
										<div class="col-12"><textarea name="message" required id="message" placeholder="Message*" rows="4"></textarea></div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</form>
							</div>
							<div class="col-4 col-12-small">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon solid fa-home"></h3>
										Vancouver, BC V6E 1V5<br />
										Canada
									</li>
									<li>
										<h3 class="icon solid fa-mobile-alt"></h3>
										512-778-7547
									</li>
									<li>
										<h3 class="icon solid fa-envelope"></h3>
										<a href="mailto:rasul@kadraliev.com">rasul@kadraliev.com</a>
									</li>
								</ul>
							</div>
						</div>
					</section>
			</div>

		<!-- The Modal -->
		{% if showmodal %}
				<script>
					function showModal() {
						window.alert("Thank you! You're awesome!!")
					}

					setTimeout(showModal, 2000);
				</script>
		{% endif %}

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.github.com/rasulkadraliev" target="_blank" class="icon brands fa-github"></a></li>
						<li><a href="https://www.linkedin.com/in/rasul-kadraliev/" target="_blank" class="icon brands fa-linkedin"></a></li>
						<li><a href="mailto:rasul@kadraliev.com" class="icon solid fa-envelope"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; {{ copyRightDate }} Rasul Kadraliev</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>